.cardshopp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
    padding: 2rem 0rem;
    justify-content: center;
}

.product__card__img {
    height: 266px;
    object-fit: cover;
}

.divinputsshop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}